:root {
    --background-color: #f6f0f0;
    --text-color: #131517;
    --surface-color: #f3f4f4;
    --light-surface-color: rgb(179, 184, 188);
    --green-color: #29ce60;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #131313;
        --text-color: #fff;
        --surface-color: #242224;
        --light-surface-color: #2e2c2e;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-container {
    background-color: var(--surface-color);
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    width: 80vw;
    height: fit-content;
    /* margin: auto; */
}

@media (max-width: 1245px) {
    body {
        justify-content: start;
        align-items: start;
    }

    .main-container {
        width: 100%;
        /* height: 100svh; */
    }
}

.title,
h2 {
    text-align: center;
    margin-bottom: 0.5em;
}

.labelText {
    font-size: 2rem;
}

.btn {
    background-color: var(--light-surface-color);
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0.5em 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: var(--green-color);
}

#progressBar {
    background-color: var(--surface-color);
    height: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    overflow: hidden;
}

#progressedBar {
    background-color: var(--green-color);
    width: 10%;
    height: 100%;
}

#question {
    background-color: var(--surface-color);
    border-radius: 1em;
    margin: auto;
    padding: 1em;
}

#questionText {
    margin-bottom: 1em;
}

#options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
}

.optionBtn {
    background-color: var(--light-surface-color);
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
}

.optionText {
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
}

#powerupContainer {
    height: fit-content;
    width: fit-content;
    margin: 1em 0;
    padding: 0.25em;
    background-color: var(--surface-color);
    display: flex;
    border-radius: 1em;
}

.powerup {
    background-color: var(--light-surface-color);
    height: 5em;
    width: 5em;
    margin: 0.5em;
    border: none;
    border-radius: 1em;
    position: relative;
}

.powerup-icon-large {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.powerup-icon-small {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
}

.powerupQuantity {
    width: 2em;
    height: 2em;
    background-color: #eb1947;
    border-radius: 1em;
    position: absolute;
    right: -0.25em;
    bottom: -0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectorContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    gap: 0.5em;
    justify-content: center;
}

#questionQuantitySelector {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

#questionQuantity {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    text-align: center;
    width: 4ch;
    padding: 0.25em 0.5em;
    background-color: var(--surface-color);
    border: none;
    border-bottom: solid 0.1em var(--green-color);
    outline: none;
}

.chip {
    background-color: var(--light-surface-color);
    padding: 0.5em;
    border-radius: 0.25em;
}

.enabled-selector {
    background-color: var(--green-color);
}

.toggleable {
    transition: background-color 0.5s ease;
}

.toggleable:hover {
    background-color: var(--green-color);
    cursor: pointer;
}

.selectionSection {
    margin-bottom: 2em;
}

.incorrect-selected {
    background-color: #e71d36;
}